parameters:
	ignoreErrors:
		-
			message: "#^Call to protected method getLLL\\(\\) of class TYPO3\\\\CMS\\\\Core\\\\Localization\\\\LanguageService\\.$#"
			count: 1
			path: Classes/ClickMenu.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$backRef\\)\\: Unexpected token \"\\$backRef\", expected type at offset 46$#"
			count: 1
			path: Classes/ClickMenu.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$uid\\)\\: Unexpected token \"\\$uid\", expected type at offset 128$#"
			count: 1
			path: Classes/ClickMenu.php

		-
			message: "#^Constant LF not found\\.$#"
			count: 4
			path: Classes/Command/Export.php

		-
			message: "#^Access to an undefined property TYPO3\\\\CMS\\\\Backend\\\\Template\\\\DocumentTemplate\\:\\:\\$backPath\\.$#"
			count: 4
			path: Classes/Controller/Cm2.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Backend\\\\Configuration\\\\TranslationConfigurationProvider\\:\\:getTranslationTable\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/Cm2.php

		-
			message: "#^Access to an undefined property TYPO3\\\\CMS\\\\Backend\\\\Template\\\\ModuleTemplate\\:\\:\\$backPath\\.$#"
			count: 1
			path: Classes/Controller/ConfigurationManager.php

		-
			message: "#^Access to an undefined property TYPO3\\\\CMS\\\\Backend\\\\Template\\\\ModuleTemplate\\:\\:\\$form\\.$#"
			count: 1
			path: Classes/Controller/ConfigurationManager.php

		-
			message: "#^Access to an undefined property TYPO3\\\\CMS\\\\Core\\\\Configuration\\\\FlexForm\\\\FlexFormTools\\:\\:\\$traverseFlexFormXMLData_Data\\.$#"
			count: 3
			path: Classes/Model/Tools/Tools.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$pageId\\)\\: Unexpected token \"\\$pageId\", expected type at offset 125$#"
			count: 1
			path: Classes/Model/Tools/Tools.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$table\\)\\: Unexpected token \"\\$table\", expected type at offset 85$#"
			count: 1
			path: Classes/Model/Tools/Tools.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$uid\\)\\: Unexpected token \"\\$uid\", expected type at offset 106$#"
			count: 1
			path: Classes/Model/Tools/Tools.php

		-
			message: "#^Constant CR not found\\.$#"
			count: 1
			path: Classes/Model/Tools/XmlTools.php

		-
			message: "#^Constant LF not found\\.$#"
			count: 4
			path: Classes/Model/Tools/XmlTools.php

		-
			message: "#^Constant LF not found\\.$#"
			count: 1
			path: Classes/Model/TranslationDataFactory.php

		-
			message: "#^Constant LF not found\\.$#"
			count: 2
			path: Classes/View/AbstractExportView.php

		-
			message: "#^Access to an undefined property TYPO3\\\\CMS\\\\Backend\\\\Template\\\\DocumentTemplate\\:\\:\\$backPath\\.$#"
			count: 1
			path: Classes/View/L10nHtmlListView.php

		-
			message: "#^Constant LF not found\\.$#"
			count: 2
			path: Classes/View/L10nHtmlListView.php

